@property --main-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FEECDE;
}

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #96181B;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf");
}

@font-face {
    font-family: "Peace";
    src: url("../fonts/PeaceSans.otf");
}

@font-face {
    font-family: "TTDaysSansRegular";
    src: url("../fonts/TTDaysSans-Regular.ttf");
}

@font-face {
    font-family: "TTDaysSansBold";
    src: url("../fonts/TTDaysSans-Bold.ttf");
}

@font-face {
    font-family: "TTDaysSansBlack";
    src: url("../fonts/TTDaysSans-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
}

.logo-image {
    min-width: 80px;
    max-width: 130px;
    width: 8vw;
}

.navbar {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 2vh 10vw;
    background-color: var(--main-color);
    overflow: hidden;
}

.full-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--secondary-color);
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 var(--secondary-color);
}

.burger::after {
  bottom: 0;
}

.mobile-menu {
    display: none;
}

.menu-list {
    top: 100px;
    right: 0;
    position: absolute;
    display: none;
    gap: 12px;
    padding: 20px 0;
    margin: 0;
    background: var(--main-color);
    list-style-type: none;
    transition: .3s;
    width: 200px;
    z-index: 10;
}

.menu-show {
    display: grid;
}

.menu-list > li {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.navbar a {
    width: 10%;
    font-family: "TTDaysSansRegular";
    text-decoration: none;
    color: black;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.circles {
    position: absolute;
    height: 100px;
    width: 100vw;
    top: 150px;
    left: 0;
    background-image: radial-gradient(circle at 2vw 0px, var(--main-color) 2vw, rgba(255,255,255,0) 0px);
    background-repeat: repeat-x;
    background-size: 4vw 2vw;
}

.title-br {
    display: none;
}

.socials img {
    width: 40px;
    cursor: pointer;
}

.content {
    padding: 10vw 10vw 0 10vw;
    overflow-x: hidden;
}

.hero-img {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    width: 100%;
    mask-image: url("../images/mask1.svg");
    mask-size: 200%;
    mask-position: 48% 90%;
    mask-repeat: no-repeat;
}

#hero {
    height: 50vw;
}


.hero-content > h1 {
    font-family: "Peace";
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--secondary-color);
}

.hero-content > p {
    margin-bottom: 25px;
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.5rem;
}

.order-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
    width: 170px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Peace";
    font-size: 1rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    transform: scale(1);
    transition: transform .2s ease;
}

.order-btn:active {
    
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.order-btn:hover {
    transform: scale(1.1);
}

.order-btn > img {
    width: 30px;
}

.about {
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
}

.about-left {
    width: 50%;
    order: 1;
}

.about-right {
    width: 50%;
    order: 2;
}

.about-right > img {
    position: relative;
    top: -50px;
    left: 10%;
    width: 90%;
}

.name {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: "TTDaysSansBlack";
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.name::after{ 
  position: absolute;
  left: 0;
  top: 100%;
  content: '';
  background: #333333;
  width: 300px;
  height: 2px;
}

.desc, .list {
    font-family: "Inter";
    font-weight: 200;
    font-size: 1rem;
}

.list {
    margin-top: 100px;
    list-style-type: none;
}

.list > li {
    line-height: 3rem;
    padding-left: 6rem;
    padding-bottom: 15px;
    background: url("../images/marker.svg") no-repeat;
    background-size: 3rem 3rem;
    white-space: nowrap;
}

.decor {
    font-weight: 900;
    color: var(--secondary-color);
}

#catalog {
    position: relative;
}

.catalog-h1 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: "TTDaysSansBlack";
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.catalog-blob {
    position: absolute;
    left: -100%;
    top: -5%;
    width: 280%;
    z-index: -1;
    overflow: hidden;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.card {
    height: auto;
    width: 100%;
    max-width: 380px;
    padding: 20px;
    text-align: center;
    border: 2px var(--secondary-color) solid;
    border-radius: 15px;
    background-color: var(--main-color);
    justify-self: center;
}

.card > img {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px var(--secondary-color) solid;
    border-radius: 15px;
    object-fit: cover;
}

.cake-name {
    font-family: "TTDaysSansBold";
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cake-price {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1rem;
}

#percs {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 100px 100px 100px;
}

.up-row, .bottom-row {
    display: flex;
    gap: 70px;
    text-align: center;
}

.up-row > div {
    width: 50%;
}

.bottom-row > div {
    width: 33%;
}

.percs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.percs-card > img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.percs-card > h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.percs-card > p {
    text-align: center;
    font-family: "Inter";
    font-weight: 200;
}

#contacts {
    display: flex;
}

.feedback {
    padding: 100px 1vw 100px 10vw;
    background-color: var(--secondary-color);
    width: 40%;
}

.feedback-headers {
    position: relative;
    margin-bottom: 50px;
    font-family: "TTDaysSansBlack";
    font-weight: 400;
    color: var(--main-color)
}

.feedback-header {
    opacity: 1;
    transition: opacity .3s ease;
}

.feedback-header.hidden {
    opacity: 0;
}

.order-confirm {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .3s ease;
}

.order-confirm.show {
    opacity: 1;
}

.feedback-form {
    margin-bottom: 40px;
    font-family: "Inter";
    font-weight: 100;
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    gap: 20px;
}

.form-input input {
    padding-left: 2px;
    border: none;
    border-bottom: 1.5px solid var(--main-color);
    color: var(--main-color);
    background: none;
    width: 300px;
}

.form-input {
    position: relative;
}

.form-input input:focus + label {
    display: none;
}

.form-input input:valid + label {
    display: none;
}

.form-input input:focus {
    outline: none;
}

.form-input > label {
    pointer-events: none;
    position: absolute;
    left: 2px;
    top: -5px;
    z-index: 1;
}

.order-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Peace";
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    transform: scale(1);
    transition: transform .2s ease;
}

.order-btn2:active {
    border: solid 2px var(--main-color);
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.order-btn2:hover {
    transform: scale(1.1);
}

.order-btn2 > img {
    width: 25px;
}

.invalid-form {
    opacity: 0;
    margin-top: 10px;
    font-family: "Inter";
    font-weight: 200;
    color: var(--main-color);
    transition: opacity 0.3s ease;
}

.invalid-form.active {
    opacity: 1;;
}

.circles3-container {
    position: relative;
}

.circles3 {
    position: absolute;
    top: -2vw;
    height: 2vw;
    width: 100vw;
    background-image: radial-gradient(circle at 2vw bottom, var(--main-color) 2vw, rgba(255,255,255,0) 0px);
    background-repeat: repeat-x;
    background-size: 4vw 2vw;
}

.map {
    position: relative;
    width: 60%;
}

.circles2 {
    position: absolute;
    width: 48px;
    height: 100%;
    background-image: radial-gradient(circle at left 48px, var(--secondary-color) 48px, rgba(255,255,255,0) 0px);
    background-repeat: repeat-y;
    background-size: 48px 96px;
}

.map > iframe {
    height: 100%;
    width: 100%;
}

footer {
    padding: 0 10vw;
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    height: 100px;
    gap: 15%;
    background-color: var(--main-color);
    font-family: "Inter";
    font-size: 0.8rem;
}

.footer-left {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-slogan {
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-slogan > a > img {
    width: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "TTDaysSansBold";
}

.menu > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .burger {
        display: block;
    }

    .navbar {
        height: 100px;
        justify-content: space-between;
    }

    .navbar > a {
        width: 50%;
    }

    .circles {
        top: 100px;
    }

    .full-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        width: 50%;
    }

    .title-br {
        display: block;
    }

    .about {
        gap: 30px;
    }

    .about-right > img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .list > li {
        line-height: 3rem;
        padding-left: 4rem;
        padding-bottom: 15px;
        background: url("../images/marker.svg") no-repeat;
        background-size: 3rem 3rem;
    }
        
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }

    .card > img {
        height: 220px;
    }

    #percs {
        padding: 80px 40px;
    }

    .up-row, .bottom-row {
        gap: 40px;
    }

    .feedback {
        width: 50%;
    }

    .map {
        width: 50%;
    }

    .logo-slogan > p {
        display: none;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 50px;
    }

    .hero-content {
        margin-top: 40px;
    }

    .hero-content > h1 {
        font-size: 2.5rem;
    }

    .hero-content > p {
        font-size: 1.1rem;
    }

    #hero {
        padding-bottom: 40px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-right {
        order: -1;
        text-align: center;
    }

    .about-right img {
        width: 80%;
    }

    .list {
        margin-top: 40px;
    }

    .list > li {
        line-height: 3rem;
        white-space: normal;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #percs {
        padding: 60px 20px;
    }

    .up-row,
    .bottom-row {
        flex-direction: column;
    }

    .bottom-row > div,
    .up-row > div {
        width: 100%;
    }

    .feedback {
        width: 100%;
        height: 50%;
        padding: 5vw;
        background-color: var(--secondary-color);
    }

    .form-input input {
        width: 100%;
    }

    #contacts {
        flex-direction: column;
    }

    .circles2 {
        display: none;
    }

    .map {
        display: none;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .title-br {
        display: none;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 60%;
    }

    .hero-content > h1 {
        font-size: 2.5rem;
    }

    .hero-content > p {
        font-size: 1.1rem;
    }

    .list > li {
        line-height: 2rem;
        white-space: normal;
    }

    .catalog-blob {
        position: absolute;
        left: -300%;
        top: -5%;
        width: 800%;
        z-index: -1;
        overflow: hidden;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 430px) {
    .about {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .about-right {
        width: 100%;
        order: 1;
    }

    .about-right > img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .about-left {
        width: 100%;
        order: 2;
    }

    .desc, .list {
        font-family: "Inter";
        font-weight: 200;
        font-size: 1rem;
    }

    #percs {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        padding: 100px 100px 100px;
    }
    
    .up-row, .bottom-row {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    footer {
        padding: 0 10px;
    }
}